[client]  
  port = 3306
  socket = /tmp/mysql.sock 
  # default-character-set = utf8
[mysqld] 
  user = mysql
  port = 3306 
  socket = /tmp/mysql.sock  
  basedir = /usr/local/mysql  
  datadir = /usr/local/mysql/data
